# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\tensorflow_repo\LatestTensorGPU\Lib\site-packages\HKC-1.0.1-py3.6.egg\HKC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
